<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="testesEntitiesDatabase" connectionString="metadata=res://*/TestesModel.csdl|res://*/TestesModel.ssdl|res://*/TestesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=testes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>