<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="CS_ADO_NET" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\projetos\Microsoft Platforms\C Sharp Desktop\Solution 2\WindowsFormsApplication1\App_Data\ADO_NETDataBase.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApplication1.Properties.Settings.D__PROJETOS_MICROSOFT_PLATFORMS_C_SHARP_DESKTOP_SOLUTION_2_WINDOWSFORMSAPPLICATION1_APP_DATA_ADO_NETDATABASE_MDFConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=&quot;D:\PROJETOS\MICROSOFT PLATFORMS\C SHARP DESKTOP\SOLUTION 2\WINDOWSFORMSAPPLICATION1\APP_DATA\ADO_NETDATABASE.MDF&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestesDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=testes;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="WindowsFormsApplication1.Properties.Settings.testesConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=testes;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>